{
  "parser": "babel-eslint",
  "env": {
  	"browser": true,
  },
  "rules": {
  	"react/jsx-filename-extension": 0,
  	"import/no-unresolved": 0,
    "no-invalid-this": 1,
  },
  "settings": {
  	"import/resolver": "webpack",
  },
  "extends": "airbnb",
  "root": true,
}